<p  class="buttonRow" *ngIf="connected != true">
  <button id="red-button" (click)="connect()">Connect To Rabbit</button>
</p>
<p  class="buttonRow" *ngIf="connected == true">
  <button id="green-button" (click)="connect()">Connected To Rabbit</button>
</p>
<p class="buttonRow" *ngIf="connected == true">
  <button id="sendMessageButton" [disabled]="sendMessageDisabled" (click)="sendMessage()">Send Ping Pong Message!</button>
  <button id="publishMessageButton" (click)="publishMessage()">Publish Ping Pong Message With MQTT!</button>
</p>
<p *ngIf="connected == true">
  Message: <input type="text" pInputText [(ngModel)]="messageInput" maxlength="100" name="messageInput">
</p>
<p *ngIf="connected == true">
  PingPongs: <input type="number" pInputText [(ngModel)]="pingPongs" name="pingPongs">
</p>
<p *ngIf="connected == true" id='messageResult'>Number of received mqtt messages: {{nReceivedMessages}}</p>
<p *ngIf="connected == true" id='messageResult'>Received mqtt messages: {{nReceivedMessagesPerSec}} per/sec</p>

<div *ngIf="connected == true">
  <table>
      <thead>
          <tr>
              <th>Event</th>
              <th>PingPongs</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let key of receivedEventKeys">
              <td>
                  {{receivedEvents[key].Event}}
              </td>
              <td>
                  {{receivedEvents[key].PingPongs}}
              </td>
          </tr>
      </tbody>
  </table>
</div>